* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, rgb(103, 212, 239), rgb(50, 71, 226));
}


.mainheading {
  font-family: system-ui;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin: 2rem 0;
  text-shadow: 2px 2px 2px var(--primary-color);
  color: rgb(0, 0, 0);
}


/* <!-------------------------------------------------- NAVBAR ----------------------------------------------------> */
.fa-bars {
  display: none;
}

#nav-menu {
  z-index: 7;
  display: flex;
  position: fixed;
  height: 65px;
  width: 100%;
  margin: auto;
  background-color: #1a1a1ac3;
}

#nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 50%;
  justify-content: center;
}

#nav-menu ul li {
  padding: 10px 0;
  list-style: none;
}

#nav-menu ul li a {
  padding: 4px 27px 10px 27px;
  color: rgb(128, 177, 255);
  font-size: 1.4rem;
  font-family: system-ui;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--primary-color);
}

#nav-menu ul li a:hover {
  background-color: #ffffff00;
  border: 1px solid white;
  border-radius: 10px;
}

.fa-sun {
  position: fixed;
  border-radius: 10px;
  top: 0;
  background-color: var(--sun-color);
  left: 0;
  z-index: 11;
  color: white;
  padding: 10px;
  font-size: 1.8rem;
}

.btn {
  color: var(--primary-color);
  background-color: var(--secondry-color);
  border: 2px solid aqua;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  transition: all.4s;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn span {
  color: var(--secondry-color);
}

.btn:hover {
  box-shadow: inset 140px 0 0 0 rgba(152, 165, 251, 0.097);
  background-color: rgb(11, 11, 11);
  color: white;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  transform: translateX(1.5rem);
}

.fa-house,
.fa-phone,
.fa-rocket,
.fa-address-card,
.fa-file-arrow-down,
.fa-download,
.fa-dice-d20 {
  color: #ff6310;
  margin-right: 4px;
  font-size: 1.3rem;
}


/* <!-------------------------------------------------- HOME ----------------------------------------------------> */

#home {
  padding-top: 12em;
  display: flex;
  width: 90%;
  margin: 0 auto 5em auto;
}

.child1 {
  width: 50%;
  margin: 2rem auto;
  padding: 30px 30px 0 30px;
}

#user-details {
  color: white;
  margin: 1.5rem 0;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1rem rgb(255, 255, 255);
}

.child2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
}

.child2 img {
  width: 300px;
  border-radius: 20% 10%;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  transition: all 1s;
}

.child2 img:hover {
  transform: translateY(-1rem);
  box-shadow: 2px 2px 10px rgb(103, 212, 239), -2px -2px 10px rgb(50, 71, 226);
  object-fit: contain;
  cursor: pointer;
}


.child1 h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);

}

.child1 h2 {
  color: white;
  margin: 1.5rem 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1rem rgb(255, 255, 255);
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: para;
}



/* <!-------------------------------------------------- ABOUT ----------------------------------------------------> */

#about {
  text-align: center;
}

#about h1 {
  font-family: system-ui;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
}

#about h2 {
  font-family: system-ui;
  color: white;
  width: 60%;
  margin: 1rem auto 3em auto;
  font-size: 1.5rem;
}


/* <!-------------------------------------------------- ABOUT ----------------------------------------------------> */

#experience {
  text-align: center;
}

#experience h1 {
  font-family: system-ui;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
}

#experience h2 {
  font-family: system-ui;
  color: white;
  width: 60%;
  margin: 1rem auto 3em auto;
  font-size: 1.5rem;
}

/* <!-------------------------------------------------- SKILLS ----------------------------------------------------> */


#skills {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
}

.skills-card {
  margin: 2rem;
}

.name img {
  margin-top: -5px;
  height: 60px;
  object-fit: contain;
  width: 130px;
  background-color: #ffffff3c;
  border: 2px solid rgba(255, 255, 255, 0.645);
}




/* <!-------------------------------------------------- PROJECTS ----------------------------------------------------> */

#projects {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-card {
  color: white;
  border-bottom: 2px double aqua;
  width: 90%;
  margin: 2em auto;
  text-align: center;
  padding-bottom: 2rem;
}

.desc{
  text-shadow: 2px 2px 2px white;
  font-size: 1.3rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  /* background-color: #b3d0ffc1; */
  background-color: #ecf3ff3b;
  color: rgb(0, 0, 0);
}

.project-card img {
  width: 80%;
  box-shadow: 2px 2px 19px rgb(255, 255, 255);
}

.project-card p a {
  font-size: 1.6rem;
  margin: 10px;
  text-decoration: none;
  color: white;
}

.project-tech-stack {
  font-weight: 400;
  margin: 10px;
  font-size: 1.3rem;
}

.project-card div {
  display: flex;
  justify-content: center;
}

.project-description {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 2rem;
  margin: 1rem 0;
  color: rgb(177, 246, 255);
}

/* <!-------------------------------------------------- CONTACTS ----------------------------------------------------> */



#contact {
  background-color: rgba(0, 0, 0, 0.507);
  width: 80%;
  margin: 3rem auto 6rem auto;
  display: flex;

}

#contact input {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
  border: none;

}

.contact-child-1 img {
  filter: drop-shadow(0 0 40px #ffffff);
}

.contact-child-1 {
  width: 55%;
}

.contact-child-2 {
  width: 45%;
}

.btns {
  margin: 0 auto;
  padding: 5px 10px;
  border: none;
  width: 40%;
  display: block;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.contact-child-2 form {
  background-color: #ffffff81;
  display: block;
  width: 60%;
  margin: 2rem auto;
  border: 1px solid white;
  padding: 15px;
  border-radius: 10% 20%;
}

.contact-child3 {
  display: block;
}

.contact-child4 a {
  text-align: left;
  display: flex;
  color: rgb(243, 243, 243);
  justify-content: center;
  font-family: system-ui;
  text-decoration: none;
  padding-bottom: 8px;
}



/* <!-------------------------------------------------- RESUME ----------------------------------------------------> */





/* <!-------------------------------------------------- GitHUB ----------------------------------------------------> */



#githubsection {
  margin: 20px auto;
  display: block;
  width: 70%;
  padding-bottom: 5em;
}

#githubsection img {
  transition: all 0.2s;
  width: 100%;
  object-fit: contain;
  height: 300px;
}

.react-activity-calendar {
  visibility: hidden;
  height: 1px;
  display: flex;
}

.react-activity-calendar img {
  height: 1px;
  width: 1px;
}